span {
  font-family: Lato;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-grid-tile {
  background: lightblue;
}

.panel {
  background-color:azure;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.mat-tab-group {
  margin-bottom: 48px;
}